name: Package and release version 

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v1
      - name: Update Build Date in release changelog
        run: sed -i "s/@build-time@/`date +%Y-%m-%d`/" CHANGELOG.md
      - name: Update Build Date in release changelog
        run: sed -i "s/@build-time@/`date +%Y-%m-%d`/" TidyPlates_ThreatPlates_Changes.log
      - name: Create Mainline Package
        uses: BigWigsMods/packager@v2
        with:
          args: -e -l -n "ThreatPlates-{project-version}{classic}" -g retail
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Classic Package
        uses: BigWigsMods/packager@v2
        with:
          args: -e -l -n "ThreatPlates-{project-version}{classic}" -g classic
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Wrath Classic Package
        uses: BigWigsMods/packager@v2
        with:
          args: -e -l -n "ThreatPlates-{project-version}{classic}" -g wrath
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
